<!DOCTYPE html>
<html lang="en">

    <% include head %>
    <br>
    <br>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
        <% include nav %>
        <% include scripts %>
        <% include ../partials/scripts/norway_map_scripts %>
    </head>
    
    <body>
        <div class="row">
            <div class="container" id="norway_map">
                <div id="map" style="height: 800px; width: 1000px;"></div>                
            </div>
        </div>
        
        <script>
            initMap()
        </script>

    </body>
</html>