<!DOCTYPE html>
<html lang="en">
    <br>
    <br>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
        <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
        <link rel="stylesheet" href="public/leaflet.awesome-markers.css">
        <% include ../partials/scripts/norway_map_scripts %>
    </head>
    
    <body>
        <div class="row">
            <div class="container" id="norway_map">
                <div id="map" style="height: 600px; width: 1000px;"></div>                
            </div>
        </div>
        
        <script>
            initMap()
        </script>

    </body>
</html>