<!DOCTYPE html>
<html>
    <body>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/public/style.css" />

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>   
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

        <!-- Slider js and css. -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css" />
        <script type="text/javascript" src="public/scripts/thingslist.js"></script>

        <div class="query_custom_div">
            <h2>Selector panel</h3>
            <br>
            <form id="newthing" action="" method="POST">
                <div class="container">
                    <div class='col-md-3'>
                        <label>Start time</label>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker6'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-3'>
                        <label>End time</label>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker7'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span> 
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <br>
            
            <div id="spn_url"></div>
            <button type="submit" id="submit_btn" class="query_btn">Query</button>
            <input id="theSlider" data-slider-id='theSlider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="1" data-slider-value="0"/>
            <br>
            <br>
            <span id="timestamplabel">Time : <span id="theSliderTimestamp"></span></span>
            <br>
            <br>
            <span id="temperaturelabel">Temperature : <span id="theTemperature"></span></span>
            <br>
            <br>
            <span id="batteryvoltage">Current battery voltage : <span id="theBatteryVoltage"></span></span>
            <br>
            <br>
            <div id="warning_msg" class="warning_msg">Help messages appear here</div>
            <br>
        </div>
        <div class="things_custom_div" id="profile_table_div" style="margin-top:20px;">
            <table class="table table-bordered" id="profile_things_table" style="table-layout: fixed; width: 90%;">
                <colgroup>
                    <col width="20%">
                    <col width="20%">
                    <col width="24%">
                    <col width="36%">
                </colgroup>
                <thead></thead>
                <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th class="text-right" id="profile_thing_btn"> </th>
                    </tr>
                </tbody>  
            </table>
        </div>
    </body>
</html>