<!DOCTYPE html>
<html>
    <body>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/public/style.css" />

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>   
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

        <h2 align="center">Selector panel</h3>
        <form id="newthing" action="" method="POST">
            <div class="container">
                <div class='col-md-3'>
                    <label>Start time</label>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker6'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-md-3'>
                    <label>End time</label>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker7'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span> 
                            </span>
                        </div>
                    </div>
                </div>
                <br>
                <div id="spn_url"></div>
                <button type="submit" id="submit_btn" class="query_btn">Query</button>
            </div>
        </form>


        <script type="text/javascript">
                $(document).ready(function () {
                $('#datetimepicker6').datetimepicker()
                $('#datetimepicker7').datetimepicker({
                    useCurrent: false //Important! See issue #1075
                })
                $("#datetimepicker6").on("dp.change", function (e) {
                    $('#datetimepicker7').data("DateTimePicker").minDate(e.date)
                })
                $("#datetimepicker7").on("dp.change", function (e) {
                    $('#datetimepicker6').data("DateTimePicker").maxDate(e.date)
                })
            })

            $("#submit_btn").on('click', function() {
                document.getElementById('submit_btn').setAttribute("class", "query_btn_disabled")
                $("#submit_btn").attr('disabled', true)
                
                var data = {
                    start = $('#datetimepicker6').data("DateTimePicker").date(),
                    stop = $('#datetimepicker7').data("DateTimePicker").date()
                }
                
                $.ajax({
					type: 'POST',
					data: JSON.stringify(data),
				    contentType: 'application/json',
                    url: 'http://localhost:3000/profile',						
                    success: function(data) {
                        console.log('success');
                        console.log(JSON.stringify(data));
                    },
                    complete: function() {
                        document.getElementById('submit_btn').setAttribute("class", "query_btn");
                        $("#submit_btn").attr('disabled', false)
                    }
                })
            })
        </script>
    </body>
</html>