/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    padding-top: 60px;
    margin-bottom: 60px;
}
#about {
    padding-top: 48px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #507cd8;
}
.footer p {
    line-height: 60px;
    color: white;
}
.footer a {
    color: #efb22e;
    text-decoration: none;
}


.query_btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 6px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
  }


#timer {
  margin: 0 auto;
}

/* Bootstrap css */
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css";

/* Propeller typography */
@import "http://propeller.in/components/typography/css/typography.css";

/* Propeller input */
@import "http://propeller.in/components/textfield/css/textfield.css";

/* Propeller icons */
@import "http://fonts.googleapis.com/icon?family=Material+Icons";
@import "http://propeller.in/components/icons/css/google-icons.css";

/* Bootstrap datetimepicker */
@import "http://propeller.in/components/datetimepicker/css/bootstrap-datetimepicker.css";

/* Propeller datetimepicker */
@import "http://propeller.in/components/datetimepicker/css/pmd-datetimepicker.css";
