/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    padding-top: 60px;
    margin-bottom: 60px;
}
#about {
    padding-top: 48px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #507cd8;
}
.footer p {
    line-height: 60px;
    color: white;
}
.footer a {
    color: #efb22e;
    text-decoration: none;
}

/* Below line is used for online Google font */
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
select {
    width:80%;
    border:3px solid rgb(200, 200, 207);
    height:42px;
    padding:5px;
    border-radius:3px;
    margin:5px 10px 20px 35px;
}

input[type=text]{
    width:76%;
    border:3px solid rgb(200, 200, 207);
    height:23px;
    padding:5px;
    border-radius:3px;
    margin:5px 10px 20px 35px;
}

input[type=submit]{
    width:80%;
    border:3px solid rgb(200, 200, 207);
    height:42px;
    padding:5px;
    border-radius:3px;
    margin:10px 10px 20px 35px;
    border:1px solid green;
}

label{
    margin-left:35px;
    font-family: 'Droid Serif', serif;
}

.main{
    float:left;
    width:355px;
    height:350px;
    box-shadow:1px 1px 12px gray;
    padding-top:30px;
}

h2{
    width:370px;
    text-align:center;
    font-family: 'Droid Serif', serif;
}