/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    padding-top: 60px;
    margin-bottom: 60px;
}
#about {
    padding-top: 48px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #507cd8;
}
.footer p {
    line-height: 60px;
    color: white;
}
.footer a {
    color: #efb22e;
    text-decoration: none;
}


.query_btn {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    margin: 4px 20px;
    padding: 8px 42px;
    border: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/normal Impact, Charcoal, sans-serif;
    color: rgba(255,255,255,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #0ab221;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  }


.query_btn_disabled {
    content: "Querying...";
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    margin: 4px 20px;
    padding: 8px 42px;
    border: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/normal Impact, Charcoal, sans-serif;
    color: rgba(255,255,255,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #b3beb5;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}


.warning_msg {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 260px;
    padding: 20px 100px 20px 20px;
    overflow: hidden;
    border: none;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    font: normal 16px/1 Impact, Charcoal, sans-serif;
    color: rgba(255,255,255,1);
    text-align: justify;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #585859;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}


.noGPS {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 160px;
    padding: 20px 100px 20px 20px;
    overflow: hidden;
    border: none;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    font: normal 16px/1 Impact, Charcoal, sans-serif;
    color: rgba(255,255,255,1);
    text-align: justify;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #585859;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}


#timer {
    margin: 0 auto;
}

#theSlider .slider-selection {
    
}

#theSlider .theSlider {
    
}
.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }

#query_selector {
    margin-top: 18px;
}



/* Bootstrap css */
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css";

/* Propeller typography */
@import "http://propeller.in/components/typography/css/typography.css";

/* Propeller input */
@import "http://propeller.in/components/textfield/css/textfield.css";

/* Propeller icons */
@import "http://fonts.googleapis.com/icon?family=Material+Icons";
@import "http://propeller.in/components/icons/css/google-icons.css";

/* Bootstrap datetimepicker */
@import "http://propeller.in/components/datetimepicker/css/bootstrap-datetimepicker.css";

/* Propeller datetimepicker */
@import "http://propeller.in/components/datetimepicker/css/pmd-datetimepicker.css";
