<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    </head>
    
    <body>
        <% include ../partials/nav %>

        <div id="map" style="height: 400px; width: 600px;"></div>
        <script>
                var map = L.map('map').setView([60.14, 10.25], 11);
                L.tileLayer('http://opencache.statkart.no/gatekeeper/gk/gk.open_gmaps?layers=topo2&zoom={z}&x={x}&y={y}', {
                    attribution: '<a href="http://www.kartverket.no/">Kartverket</a>'
                }).addTo(map);
            </script>

        <% include ../partials/scripts %>

    </body>
</html>