<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>

    <body>
        <% include ../partials/nav %>
        <% include ../partials/norway_map %>
        <% include ../partials/scripts %>
        <br>
        <br>
        <% include ../partials/scripts/datepicker %>
        

    </body>

</html>