<!DOCTYPE html>
<html lang="en">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <% include ../partials/head %>

    <body>
        <% include ../partials/nav %>
        <% include ../partials/norway_map %>
        <% include ../partials/scripts %>
        <br>
        <br>
        <% include ../partials/scripts/datepicker %>
        

    </body>

</html>