<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>

    <body>
        <% include ../partials/nav %>
        <% include ../pages/norway_map %>
        <% include ../partials/scripts %>

    </body>

</html>