doctype html
html(lang="en")
  head
    include ../partials/head.ejs
    script(src='public/scripts/livemap.js')
  body
    include ../partials/nav.ejs
    include ../partials/norwaymap
    
    script(type='text/javascript').
        addMarker('HEHIE', 69.0, 40.1)
