html(lang='en')
    head 
        include ../partials/head.ejs
        include ../partials/nav.ejs
    body 
        link(rel="stylesheet", href="../../public/style.css", type="text/css", media="all")
        include ../partials/things.ejs