html(lang='en')
    head 
        include ../partials/head.ejs
        include ../partials/nav.ejs
        h3(align="center") Trackers     
    body 

        .container
            #table_div.container(style="margin-top:20px;")

            include ../partials/things
            
            include ../partials/updaterate
