<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>

    <body>
        <link href="./../../public/style.css" rel="stylesheet" type="text/css" media="all" />

        <% include ../partials/nav %>

        <% include ../partials/things %>

<<<<<<< HEAD
<<<<<<< HEAD
        </script>
=======
>>>>>>> b49640d9a761288b5bde67f9968962e6fa09d3f1
=======
>>>>>>> 600cb386896b7076761cf619598fe8b4a62d1134
    </body>
</html>