<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>

    <body>
        <link href="./../../public/style.css" rel="stylesheet" type="text/css" media="all" />

        <% include ../partials/nav %>

        <% include ../partials/things %>

        </script>
    </body>
</html>